<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>task_management.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
				<key>dateExpires</key>
				<string>10/09/26</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppCheckCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.19</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NWWebSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.5.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PusherSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>101.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.21.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TweetNacl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_settings.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audioplayers_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>camera_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>emoji_picker_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_saver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility_temp_fork.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geocoding_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>pusher_channels_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>quill_native_bridge_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>record_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>syncfusion_flutter_pdfviewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E5198830A48C4851B69DB19139C9ECCDB03995D</string>
						<key>dateExpires</key>
						<string>10/09/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7R5N85A583</string>
						<key>name</key>
						<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7R5N85A583.com.ios.winntus</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.background-tasks.continued-processing.gpu</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>7R5N85A583</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8e454e16-5954-4e6f-83a1-b758a68a92fb</string>
				<key>dateExpires</key>
				<string>10/09/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.ios.winntus</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7R5N85A583</string>
				<key>name</key>
				<string>WINNTUS FORMWORK PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
